
CustomerData/.vs/CustomerData/v16/.suo
CustomerData/.vs/CustomerData/v16/Server/sqlite3/db.lock
CustomerData/.vs/CustomerData/v16/Server/sqlite3/storage.ide
CustomerData/.vs/CustomerData/v16/Server/sqlite3/storage.ide-shm
CustomerData/.vs/CustomerData/v16/Server/sqlite3/storage.ide-wal
CustomerData/obj/Debug/netcoreapp3.0/CustomerData.dll
CustomerData/obj/Debug/netcoreapp3.0/CustomerData.RazorAssemblyInfo.cache
*.cache
CustomerData.Models/bin/Debug/netcoreapp3.0/CustomerData.Data.dll
*.dll
*.ide-shm
CustomerData/.vs/CompanyData/DesignTimeBuild/.dtbcache
CustomerData/.vs/CompanyData/v16/.suo
*.pdb
CustomerData.Services/bin/Debug/netcoreapp3.0/CompanyData.Services.pdb
*.ide
CustomerData/.vs/CompanyData/v16/.suo
CustomerData/.vs/CompanyData/DesignTimeBuild/.dtbcache
*.ide
*.ide-wal
*.user
CustomerData.Models/obj/Release/netcoreapp3.0/CompanyData.Data.csproj.FileListAbsolute.txt
*.ide-wal
CustomerData/.vs/CompanyData/DesignTimeBuild/.dtbcache
CustomerData/.vs/CompanyData/DesignTimeBuild/.dtbcache
CustomerData/.vs/CompanyData/v16/.suo
CustomerData/.vs/CompanyData/v16/Server/sqlite3/storage.ide
CustomerData/.vs/CompanyData/v16/.suo
CompanyData.Tests/bin/Debug/netcoreapp3.0/nunit_random_seed.tmp
CompanyData.Tests/bin/Debug/netcoreapp3.0/nunit_random_seed.tmp
CustomerData/.vs/CompanyData/v16/.suo
CustomerData/.vs/CompanyData/v16/Server/sqlite3/storage.ide
